---
key: 1
title: Arbeiten
permalink: /works/
excerpt: "Was ich so mache ..."
image: Marika .png
background-image: IMG-20160721-WA0014.jpg
---
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.works_in_progress %}
  <div class="works_inprogress">Im Laufe des Projektes findet Ihr hier mehr.</div>{%
  endif %}{%
endif
%}
<style>
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
</style>
{% if site.categories.works %}
  <div>
      {% include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date' %}
        {% for work in sorted_list %}
          <div class="section group">
          	<div class="col span_1_of_2">
          	   <img style="height:100px;" src="/images/{{ work.background-image }}" alt="Bild" />
          	</div>
          	<div class="col span_1_of_2">
          	   <b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b>
          	</div>
          </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if site.works_in_progress %}
    <div class="works_inprogress">Im Laufe des Projektes findet Ihr hier mehr.</div>
  {% endif %}
{% endif %}

<div class="section group">
	<div class="col span_1_of_2">
	This is column 1
	</div>
	<div class="col span_1_of_2">
	This is column 2
	</div>
</div>
